// Background color
$bg-white:#ffffff;
$bg-blue:#4F46BA;
$bg-green:#22D497;
// End background color
// Text color
$text-black:#000000;
$text-white: #ffffff;
$text-7d:#64607D;
$text-95:#757095;
$text-green:#01966B;
$text-e6:#DEE1E6;
$text-a9:#3734A9;
//End text color