.banner_main {
    padding-top: 131px;
    padding-bottom: 82px;
    position: relative;
    &__textformmain {
        // padding: 0 4%;
        max-width: 1037px;
        margin: 0 auto;
        &-text {
            h2 {
                font-size: $font-60;
                color: $text-black;
                font-weight: 800;
                line-height: 74px;
                letter-spacing: -0.03em;
                margin-bottom: 20px;
            }
            p {
                max-width: 72%;
            }
            .banner-btn {
                margin-top: 47px;
                display: flex;
                align-items: center;
                .banner-works {
                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        .banner-radius {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            background-color: $bg-green;
                            margin-right: 11px;
                            margin-left: 50px;
                        }
                        font-size: $font-17;
                        font-weight: 700;
                        line-height: 30px;
                        color:$text-a9;
                    }
                }
            }
        }
        &-form {
            padding-top: 20px;
            padding-left: 15%;
            h2 {
                font-size: $font-24;
                font-weight: 700;
                line-height: 30px;
                color: $text-a9;
                margin-bottom: 22px;
            }
            form {
                input {
                    display: block;
                    width: 356px;
                    height: 60px;
                    padding: 16px 0px 14px 21px;
                    border: 1px solid #DFE4F1;
                    margin-bottom: 24px;
                    border-radius: 5px;
                    // color: #64607D;
                    // color: rgba(100, 96, 125, 0.2);
                    font-size: $font-20;
                    font-weight: 500;
                    line-height: 30px;
                    // opacity: 0.4;
                    background-color: $bg-white;
                }
                 ::placeholder {
                    color: #64607D;
                    font-size: $font-20;
                    font-weight: 500;
                    line-height: 30px;
                    opacity: 0.4;
                }
                .form-btn {
                    font-size: $font-16;
                    background-color: #FF7F5C;
                    color: $text-white;
                    text-align: center;
                    display: block;
                    width: 356px;
                    height: 60px;
                    border: 1px solid #FF7F5C;
                    padding: 18px 0px 14px 0px;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                    text-transform: uppercase;
                    border-radius: 5px;
                    &:hover {
                        color: #FF7F5C;
                        border: 1px solid #FF7F5C;
                        background-color: transparent;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

.header-banner-main {
    .container {
        position: relative;
    }
    .header-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -9;
        // max-width: 62.5%;
    }
    .banner-img1 {
        position: absolute;
        top: 10%;
        left: 0%;
    }
    .banner-img2 {
        position: absolute;
        // bottom: -53%;
        top: 60%;
        left: 0%;
    }
}

.freelancebusiness_main {
    &__sub {
        text-align: center;
        h5 {
            font-size: $font-22;
            color: $text-black;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 36px;
        }
        &-img {
            img {
                margin-left: 49px;
                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }
}

.beliving_main {
    padding-top: 108px;
    padding-bottom: 50px;
    &__sub {
        text-align: center;
        h2 {
            margin-bottom: 13px;
        }
        p {
            margin-bottom: 25px;
        }
        .site-button {
            padding: 12px 95px;
        }
    }
}

.process_main {
    &-textimg {
        position: relative;
        width: 100%;
        max-width: 71%;
        &--img {
            img {
                margin-bottom: 24px;
            }
        }
        &--text {
            h5 {
                font-size: $font-16;
                color: $text-black;
                line-height: 30px;
                letter-spacing: -0.03em;
                font-weight: 800;
                margin-bottom: 5px;
            }
            p {
                font-size: $font-14;
                color: $text-95;
                letter-spacing: -0.02em;
                line-height: 24px;
                font-weight: 500;
            }
        }
        .process-img {
            position: absolute;
            top: 5px;
            right: 8%;
        }
    }
}

.portfolio_main {
    padding-top: 120px;
    padding-bottom: 169px;
    &__sub {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 38px 72px 46px 70px;
        background-color: #F8F9FD;
        border-radius: 10px;
        h3 {
            font-size: $font-36;
            line-height: 56px;
            color: $text-black;
            letter-spacing: -0.03em;
            font-weight: 800;
        }
        .site-button {
            padding: 18px 42px;
        }
    }
}

.summerthough_main {
    &-img {
        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
    &-text {
        p {
            color: $text-7d;
            padding-bottom: 23px;
            border-bottom: 1px solid #E6E6E6;
        }
        ul {
            margin-top: 28px;
            list-style: none;
            li {
                font-size: $font-19;
                font-weight: 500;
                line-height: 30px;
                padding-left: 35px;
                padding-bottom: 13px;
                position: relative;
                &:last-child {
                    padding-bottom: 0px;
                }
                &:before {
                    content: "";
                    font-family: fontawesome;
                    // background-image: url(../../../assets/img/card-side-img.svg);
                    background-image: url(../assets/img/card-side-img.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: left;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 0;
                    margin-top: 3px;
                }
            }
        }
    }
}

.codeproduct_main {
    padding-top: 190px;
    padding-bottom: 59px;
    p {
        margin-bottom: 0px!important;
    }
}

.supported_main {
    position: relative;
    .push-back-img {
        position: absolute;
        bottom: 25%;
        right: 0;
        z-index: -9;
    }
    &-text {
        background-color: $bg-white;
        border: 1px solid #DFDFDF;
        border-radius: 22px;
        padding: 99px 40px 39px 33px;
        margin-left: 15px;
        h5 {
            color: #1B1C31;
            font-size: $font-24;
            line-height: 33px;
            font-weight: 800;
            letter-spacing: -0.03em;
            margin-bottom: 20px;
        }
        p {
            font-weight: 500;
            font-size: $font-16;
            letter-spacing: -0.02em;
            line-height: 30px;
            margin-bottom: 20px;
        }
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;
            span {
                font-weight: 500;
                font-size: $font-16;
                line-height: 16px;
                color: #01966B;
                margin-right: 11px;
            }
            i {
                color: #01966B;
                font-size: 10px;
                transition: all 0.3s ease-in-out;
            }
            &:hover i {
                transform: translateX(7px);
            }
        }
    }
    .common-btn {
        text-align: center;
        margin-top: 42px;
        .site-button {
            padding: 18px 50px;
        }
    }
}

.preference_main {
    padding-top: 123px;
    padding-bottom: 125px;
    &__sub {
        background-color: $bg-white;
        border: 1px solid #DFDFDF;
        padding: 41px 50px 37px 44px;
        border-radius: 22px;
        display: flex;
        &-heading {
            width: 30%;
            h3 {
                font-size: $font-34;
                line-height: 46px;
                font-weight: 800;
                letter-spacing: -0.03em;
                color: $text-black;
            }
        }
        &-textimgmain {
            display: flex;
            justify-content: space-between;
            width: 70%;
            &--sub {
                display: flex;
                align-items: center;
                margin-left: 40px;
                &---text {
                    p {
                        font-size: $font-18;
                        line-height: 26px;
                        color: #64607D;
                        letter-spacing: -0.02em;
                        margin-left: 18px;
                        margin-bottom: 7px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.clientsay_main {
    &-heading {
        h2 {
            font-size: 4rem!important;
            line-height: 48px!important;
            margin-bottom: 40px;
        }
    }
    &__imgtextmain {
        margin-left: 53px;
        h5 {
            font-size: $font-20;
            color: $text-black;
            font-weight: 800;
            letter-spacing: -0.03em;
            line-height: 30px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        p {
            color: #757095;
            margin-bottom: 22px;
        }
        .client-img2 {
            margin-top: 14px;
            margin-bottom: 5px;
        }
        h6 {
            font-size: $font-16;
            color: $text-black;
            font-weight: 800;
            letter-spacing: -0.03em;
            line-height: 30px;
        }
        span {
            font-size: $font-14;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: $text-95;
        }
    }
}

.ourblog_main {
    padding-top: 96px;
    padding-bottom: 64px;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;
    }
    &__textimgmain {
        margin-right: 28px;
        img {
            width: 100%;
            margin-bottom: 14px;
        }
        p {
            margin-bottom: 11px;
            font-weight: 600;
            span {
                margin-left: 19px;
            }
        }
        h5 {
            font-size: $font-20;
            color: $text-black;
            font-weight: 800;
            letter-spacing: -0.03em;
            line-height: 36px;
            margin-bottom: 8px;
        }
    }
    &__textimgmainboxtwo {
        display: flex;
        padding-bottom: 12px;
        margin-bottom: 24px;
        border-bottom: 2px solid #DEE1E6;
        margin-right: 0px;
        &:last-child {
            margin-bottom: 0px;
        }
        &-img {
            margin-right: 16px;
        }
        &-text {
            p {
                margin-bottom: 4px;
                line-height: 12px;
                font-weight: 600;
            }
            h5 {
                font-size: $font-18;
                line-height: 30px;
            }
        }
    }
}

.cta_main {
    padding-top: 74px;
    padding-bottom: 65px;
    background-color: #3734A9;
    .banner_main__textformmain {
        max-width: 100%;
        &-text {
            span,
            h2,
            p {
                color: $text-white;
            }
            h2 {
                margin-bottom: 29px;
            }
            p {
                max-width: 100%;
                font-size: $font-18;
            }
        }
        &-form {
            padding-left: 0%;
            display: flex;
            justify-content: center;
            .cta-form {
                input {
                    background-color: rgba(242, 243, 244, 0.2);
                    border: unset;
                    // border: 1px solid rgba(242, 243, 244, 0.2);
                    // color: rgba(187, 181, 224, 0.4)!important;
                    // color: #fff;
                }
                 ::placeholder {
                    color: rgba(187, 181, 224, 0.4)!important;
                }
            }
        }
    }
}

@include forsize(leptop) {
    .header-banner-main {
        .banner-img1 {
            position: absolute;
            left: -4%;
        }
        .banner-img2 {
            position: absolute;
            top: unset;
            bottom: -84%;
            left: -0%;
        }
    }
    .supported_main {
        .push-back-img {
            top: -75%;
            right: 0%;
        }
    }
    .cta_main {
        .banner_main__textformmain {
            &-text {
                h2 {
                    font-size: $font-49!important;
                }
            }
        }
    }
    .preference_main {
        &__sub {
            &-heading {
                width: 32%;
            }
        }
    }
}

@include forsize(tablet-pro) {
    .header-banner-main {
        .header-img {
            max-width: 65%;
        }
        .banner-img1 {
            left: -6%;
        }
        .banner-img2 {
            position: absolute;
            top: unset;
            bottom: -60%;
            left: -0%;
        }
    }
    .banner_main {
        padding-top: 90px;
        padding-bottom: 70px;
        position: relative;
        &__textformmain {
            max-width: 850px;
            &-text {
                h2 {
                    font-size: $font-50;
                    line-height: 60px;
                    margin-bottom: 17px;
                }
                p {
                    max-width: 85%;
                }
                .banner-btn {
                    margin-top: 35px;
                    .banner-works {
                        a {
                            .banner-radius {
                                width: 50px;
                                height: 50px;
                                margin-right: 10px;
                                margin-left: 35px;
                            }
                            font-size: $font-15;
                        }
                    }
                }
            }
            &-form {
                padding-left: 10%;
                h2 {
                    font-size: $font-20;
                    margin-bottom: 18px;
                }
                form {
                    input {
                        width: 100%;
                        height: 55px;
                        margin-bottom: 15px;
                    }
                     ::placeholder {
                        font-size: $font-17;
                    }
                    .form-btn {
                        font-size: $font-15;
                        width: 100%;
                        height: 55px;
                        padding: 16px 0px 14px 0px;
                    }
                }
            }
        }
        .banner-img1 {
            position: absolute;
            top: 0;
            left: -10%;
        }
        .banner-img2 {
            position: absolute;
            bottom: -42%;
            left: -4%;
        }
    }
    .freelancebusiness_main {
        &__sub {
            h5 {
                font-size: $font-20;
                margin-bottom: 30px;
            }
            &-img {
                img {
                    margin-left: 40px;
                }
            }
        }
    }
    .beliving_main {
        padding-top: 94px;
        padding-bottom: 40px;
        &__sub {
            h2 {
                margin-bottom: 11px;
            }
            p {
                margin-bottom: 22px;
            }
            .site-button {
                padding: 10px 95px;
            }
        }
    }
    .process_main {
        &-textimg {
            max-width: 85%;
            &--img {
                img {
                    margin-bottom: 20px;
                }
            }
            &--text {
                h5 {
                    font-size: $font-15;
                    margin-bottom: 5px;
                }
                p {
                    font-size: $font-14;
                }
            }
            .process-img {
                position: absolute;
                top: 5px;
                right: 8%;
            }
        }
    }
    .portfolio_main {
        padding-top: 100px;
        padding-bottom: 130px;
        &__sub {
            padding: 38px 60px 40px 60px;
            h3 {
                font-size: $font-31;
                line-height: 48px;
            }
            .site-button {
                padding: 16px 40px;
            }
        }
    }
    .summerthough_main {
        &-img {
            img {
                height: 450px;
            }
        }
        &-text {
            p {
                padding-bottom: 20px;
            }
            ul {
                margin-top: 25px;
                li {
                    font-size: $font-16;
                    line-height: 30px;
                    padding-left: 35px;
                    padding-bottom: 11px;
                    &:before {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }
    .codeproduct_main {
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .supported_main {
        .push-back-img {
            position: absolute;
            top: -65%;
            right: 0%;
            max-width: 22%;
        }
        &-text {
            padding: 70px 35px 35px 30px;
            margin-left: 12px;
            h5 {
                font-size: $font-20;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 15px;
            }
            a {
                span {
                    font-size: $font-15;
                    margin-right: 11px;
                }
                i {
                    font-size: 10px;
                }
            }
        }
        .common-btn {
            margin-top: 35px;
            .site-button {
                padding: 14px 40px;
            }
        }
    }
    .preference_main {
        padding-top: 100px;
        padding-bottom: 100px;
        &__sub {
            padding: 35px 45px 33px 40px;
            &-heading {
                width: 30%;
                h3 {
                    font-size: $font-28;
                    line-height: 40px;
                }
            }
            &-textimgmain {
                display: flex;
                justify-content: space-between;
                width: 70%;
                &--sub {
                    margin-left: 30px;
                    &---text {
                        p {
                            font-size: $font-15;
                            line-height: 23px;
                            margin-left: 15px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    .clientsay_main {
        &-heading {
            h2 {
                font-size: 3.8rem!important;
                line-height: 45px!important;
                margin-bottom: 35px;
            }
        }
        &__imgtextmain {
            margin-left: 35px;
            h5 {
                font-size: $font-17;
                margin-top: 13px;
                margin-bottom: 13px;
            }
            p {
                margin-bottom: 15px;
            }
            .client-img2 {
                margin-top: 14px;
                margin-bottom: 5px;
            }
            h6 {
                font-size: $font-15;
                line-height: 30px;
            }
            span {
                font-size: $font-13;
            }
        }
    }
    .ourblog_main {
        padding-top: 80px;
        padding-bottom: 55px;
        &__heading {
            margin-bottom: 50px;
        }
        &__textimgmain {
            margin-right: 20px;
            img {
                width: 100%;
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 9px;
                font-weight: 600;
                span {
                    margin-left: 15px;
                }
            }
            h5 {
                font-size: $font-17;
                line-height: 28px;
                margin-bottom: 8px;
            }
        }
        &__textimgmainboxtwo {
            display: flex;
            padding-bottom: 10px;
            margin-bottom: 20px;
            &-img {
                margin-right: 12px;
            }
            &-text {
                p {
                    margin-bottom: 10px;
                }
                h5 {
                    font-size: $font-16;
                    line-height: 25px;
                }
            }
        }
    }
    .cta_main {
        padding-top: 60px;
        padding-bottom: 50px;
        background-color: #3734A9;
        .banner_main__textformmain {
            max-width: 100%;
            &-text {
                span,
                h2,
                p {
                    color: $text-white;
                }
                h2 {
                    margin-bottom: 25px;
                    font-size: $font-40!important;
                    line-height: 50px!important;
                }
                p {
                    max-width: 100%;
                    font-size: $font-16;
                }
            }
            &-form {
                padding-left: 0%;
                display: flex;
                justify-content: center;
                .cta-form {
                    input {
                        background-color: rgba(242, 243, 244, 0.2);
                        border: unset;
                    }
                     ::placeholder {
                        color: rgba(187, 181, 224, 0.4)!important;
                    }
                }
            }
        }
    }
}

@include forsize(tablet) {
    .header-banner-main {
        .header-img {
            max-width: 65%;
        }
        .banner-img1 {
            left: -11%;
            top: 2%;
        }
        .banner-img2 {
            position: absolute;
            top: unset;
            bottom: -55%;
            left: -4%;
        }
    }
    .banner_main {
        padding-top: 80px;
        padding-bottom: 60px;
        position: relative;
        &__textformmain {
            max-width: 850px;
            &-text {
                h2 {
                    font-size: $font-45;
                    line-height: 60px;
                    margin-bottom: 15px;
                }
                p {
                    max-width: 90%;
                }
                .banner-btn {
                    margin-top: 35px;
                    .banner-works {
                        a {
                            .banner-radius {
                                width: 45px;
                                height: 45px;
                                margin-right: 10px;
                                margin-left: 30px;
                            }
                            font-size: $font-14;
                        }
                    }
                }
            }
            &-form {
                padding-left: 10%;
                h2 {
                    font-size: $font-20;
                    margin-bottom: 18px;
                }
                form {
                    input {
                        width: 100%;
                        height: 55px;
                        margin-bottom: 15px;
                    }
                     ::placeholder {
                        font-size: $font-17;
                    }
                    .form-btn {
                        font-size: $font-15;
                        width: 100%;
                        height: 55px;
                        padding: 16px 0px 14px 0px;
                    }
                }
            }
        }
        .banner-img1 {
            position: absolute;
            top: 0;
            left: -10%;
        }
        .banner-img2 {
            position: absolute;
            bottom: -42%;
            left: -4%;
        }
    }
    .freelancebusiness_main {
        &__sub {
            h5 {
                font-size: $font-18;
                margin-bottom: 25px;
            }
            &-img {
                img {
                    width: 110px;
                    margin-left: 20px;
                }
            }
        }
    }
    .beliving_main {
        padding-top: 80px;
        padding-bottom: 40px;
        &__sub {
            h2 {
                margin-bottom: 11px;
            }
            p {
                margin-bottom: 22px;
            }
            .site-button {
                padding: 10px 95px;
            }
        }
    }
    .process_main {
        &-textimg {
            max-width: 90%;
            &--img {
                img {
                    margin-bottom: 20px;
                }
            }
            &--text {
                h5 {
                    font-size: $font-14;
                    margin-bottom: 5px;
                }
                p {
                    font-size: $font-13;
                }
            }
            .process-img {
                position: absolute;
                top: 0px;
                right: 2%;
            }
        }
    }
    .portfolio_main {
        padding-top: 85px;
        padding-bottom: 110px;
        &__sub {
            padding: 30px 45px 30px 45px;
            &-text {
                width: 63%;
            }
            h3 {
                font-size: $font-28;
                line-height: 42px;
                br {
                    display: none;
                }
            }
            .site-button {
                padding: 16px 40px;
            }
        }
    }
    .summerthough_main {
        &-img {
            img {
                height: 450px;
            }
        }
        &-text {
            p {
                padding-bottom: 15px;
            }
            ul {
                margin-top: 20px;
                li {
                    font-size: $font-15;
                    line-height: 28px;
                    padding-left: 30px;
                    padding-bottom: 11px;
                    &:before {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .codeproduct_main {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .supported_main {
        .push-back-img {
            position: absolute;
            top: -65%;
            right: 0%;
            max-width: 22%;
        }
        &-text {
            padding: 55px 30px 30px 30px;
            margin-left: 7px;
            h5 {
                font-size: $font-19;
                line-height: 28px;
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 15px;
                line-height: 26px;
                font-size: $font-15;
            }
            a {
                span {
                    font-size: $font-14;
                    margin-right: 11px;
                }
                i {
                    font-size: 10px;
                }
            }
        }
        .common-btn {
            margin-top: 35px;
            .site-button {
                padding: 14px 40px;
            }
        }
    }
    .preference_main {
        padding-top: 100px;
        padding-bottom: 100px;
        &__sub {
            padding: 30px 30px 30px 35px;
            &-heading {
                width: 22%;
                h3 {
                    font-size: $font-25;
                    line-height: 30px;
                }
            }
            &-textimgmain {
                display: flex;
                justify-content: space-between;
                width: 78%;
                &--sub {
                    margin-left: 10px;
                    &---text {
                        p {
                            font-size: $font-13;
                            line-height: 23px;
                            margin-left: 12px;
                            margin-bottom: 5px;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
    .clientsay_main {
        &-heading {
            h2 {
                font-size: 3.5rem!important;
                line-height: 42px!important;
                margin-bottom: 30px;
            }
        }
        &__imgtextmain {
            margin-left: 30px;
            h5 {
                font-size: $font-16;
                margin-top: 13px;
                margin-bottom: 13px;
            }
            p {
                margin-bottom: 15px;
            }
            .client-img2 {
                margin-top: 14px;
                margin-bottom: 5px;
            }
            h6 {
                font-size: $font-14;
                line-height: 30px;
            }
            span {
                font-size: $font-13;
            }
        }
    }
    .ourblog_main {
        padding-top: 70px;
        padding-bottom: 45px;
        &__heading {
            margin-bottom: 45px;
        }
        &__textimgmain {
            margin-right: 15px;
            img {
                width: 100%;
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 9px;
                font-weight: 600;
                span {
                    margin-left: 15px;
                }
            }
            h5 {
                font-size: $font-16;
                line-height: 25px;
                margin-bottom: 8px;
            }
        }
        &__textimgmainboxtwo {
            display: flex;
            padding-bottom: 10px;
            margin-bottom: 20px;
            &-img {
                margin-right: 10px;
            }
            &-text {
                p {
                    margin-bottom: 10px;
                    line-height: 20px;
                    span {
                        margin-left: 0px;
                    }
                }
                h5 {
                    font-size: $font-15;
                    line-height: 22px;
                }
            }
        }
    }
    .cta_main {
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: #3734A9;
        .banner_main__textformmain {
            max-width: 100%;
            &-text {
                span,
                h2,
                p {
                    color: $text-white;
                }
                h2 {
                    margin-bottom: 20px;
                    font-size: $font-30!important;
                    line-height: 40px!important;
                }
                p {
                    max-width: 100%;
                    font-size: $font-16;
                }
            }
            &-form {
                padding-left: 0%;
                display: flex;
                justify-content: center;
                .cta-form {
                    input {
                        background-color: rgba(242, 243, 244, 0.2);
                        border: unset;
                    }
                     ::placeholder {
                        color: rgba(187, 181, 224, 0.4)!important;
                    }
                }
            }
        }
    }
}

@include forsize(phone-rotate) {
    .header-banner-main {
        .header-img {
            max-width: 65%;
        }
        .banner-img1 {
            left: -7%;
            top: 2%;
        }
        .banner-img2 {
            position: absolute;
            top: unset;
            bottom: -55%;
            left: 0%;
        }
    }
    .banner_main {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        &__textformmain {
            max-width: 100%;
            &-text {
                h2 {
                    font-size: $font-38;
                    line-height: 50px;
                    margin-bottom: 10px;
                }
                p {
                    max-width: 100%;
                }
                .banner-btn {
                    margin-top: 30px;
                    .banner-works {
                        a {
                            .banner-radius {
                                width: 45px;
                                height: 45px;
                                margin-right: 10px;
                                margin-left: 30px;
                            }
                            font-size: $font-14;
                        }
                    }
                }
            }
            &-form {
                padding-top: 30px;
                padding-left: 0%;
                h2 {
                    font-size: $font-20;
                    margin-bottom: 18px;
                }
                form {
                    input {
                        width: 100%;
                        height: 50px;
                        margin-bottom: 15px;
                    }
                     ::placeholder {
                        font-size: $font-17;
                    }
                    .form-btn {
                        font-size: $font-15;
                        width: 100%;
                        height: 50px;
                        padding: 16px 0px 14px 0px;
                    }
                }
            }
        }
    }
    .freelancebusiness_main {
        &__sub {
            h5 {
                font-size: $font-18;
                margin-bottom: 20px;
            }
            &-img {
                img {
                    width: 80px;
                    margin-left: 15px;
                }
            }
        }
    }
    .beliving_main {
        padding-top: 50px;
        padding-bottom: 50px;
        &__sub {
            h2 {
                margin-bottom: 11px;
            }
            p {
                margin-bottom: 20px;
            }
            .site-button {
                padding: 10px 95px;
            }
        }
    }
    .process_main {
        &-textimg {
            max-width: 100%;
            margin-bottom: 50px;
            &--img {
                img {
                    margin-bottom: 10px;
                }
            }
            &--text {
                h5 {
                    font-size: $font-15;
                    margin-bottom: 5px;
                }
                p {
                    font-size: $font-14;
                }
            }
            .process-img {
                position: absolute;
                top: 0px;
                right: 2%;
            }
        }
    }
    .portfolio_main {
        padding-top: 45px;
        padding-bottom: 85px;
        &__sub {
            padding: 30px;
            &-text {
                width: 50%;
            }
            h3 {
                font-size: $font-25;
                line-height: 35px;
                br {
                    display: none;
                }
            }
            .site-button {
                padding: 12px 35px;
            }
        }
    }
    .summerthough_main {
        &-img {
            img {
                height: 350px;
            }
        }
        &-text {
            p {
                padding-bottom: 10px;
            }
            ul {
                margin-top: 15px;
                li {
                    font-size: $font-15;
                    line-height: 28px;
                    padding-left: 30px;
                    padding-bottom: 11px;
                    &:before {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .codeproduct_main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .supported_main {
        .push-back-img {
            position: absolute;
            top: -25%;
            right: 0%;
            max-width: 22%;
        }
        &-text {
            padding: 25px;
            margin-bottom: 25px;
            margin-left: 0px;
            h5 {
                font-size: $font-19;
                line-height: 28px;
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 15px;
                line-height: 26px;
                font-size: $font-15;
            }
            a {
                span {
                    font-size: $font-14;
                    margin-right: 11px;
                }
                i {
                    font-size: 10px;
                }
            }
        }
        .common-btn {
            margin-top: 25px;
            .site-button {
                padding: 14px 40px;
            }
        }
    }
    .preference_main {
        padding-top: 60px;
        padding-bottom: 60px;
        &__sub {
            flex-wrap: wrap;
            display: unset;
            padding: 0px;
            border: none;
            &-heading {
                width: 100%;
                margin-bottom: 20px;
                h3 {
                    font-size: $font-23;
                    line-height: 30px;
                    text-align: center;
                }
            }
            &-textimgmain {
                display: flex;
                justify-content: space-between;
                width: 100%;
                &--sub {
                    margin-left: 10px;
                    &---text {
                        p {
                            font-size: $font-13;
                            line-height: 23px;
                            margin-left: 12px;
                            margin-bottom: 5px;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
    .clientsay_main {
        &-heading {
            h2 {
                font-size: 3.2rem!important;
                line-height: 42px!important;
                margin-bottom: 25px;
                br {
                    display: none;
                }
            }
        }
        &__imgtextmain {
            margin-left: 0px;
            margin-top: 100px;
            h5 {
                font-size: $font-16;
                margin-top: 10px;
                margin-bottom: 10px;
                br {
                    display: none;
                }
            }
            p {
                margin-bottom: 10px;
            }
            .client-img2 {
                margin-top: 14px;
                margin-bottom: 5px;
            }
            h6 {
                font-size: $font-14;
                line-height: 30px;
            }
            span {
                font-size: $font-13;
            }
        }
    }
    .ourblog_main {
        padding-top: 40px;
        padding-bottom: 45px;
        &__heading {
            margin-bottom: 45px;
        }
        &__textimgmain {
            margin-right: 0px;
            margin-bottom: 30px;
            img {
                width: 100%;
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 9px;
                font-weight: 600;
                span {
                    margin-left: 15px;
                }
            }
            h5 {
                font-size: $font-16;
                line-height: 25px;
                margin-bottom: 8px;
            }
        }
        &__textimgmainboxtwo {
            padding-bottom: 10px;
            margin-bottom: 40px;
            &-img {
                margin-right: 50px;
            }
            &-text {
                p {
                    margin-bottom: 10px;
                    line-height: 20px;
                    span {
                        margin-left: 0px;
                    }
                }
                h5 {
                    font-size: $font-15;
                    line-height: 22px;
                }
            }
        }
    }
    .cta_main {
        padding-top: 50px;
        padding-bottom: 40px;
        .banner_main__textformmain {
            max-width: 100%;
            &-text {
                h2 {
                    margin-bottom: 20px;
                    font-size: $font-30!important;
                    line-height: 40px!important;
                }
                p {
                    max-width: 100%;
                    font-size: $font-16;
                }
            }
            &-form {
                padding-left: 0%;
                display: block;
                margin-top: 30px;
                padding-top: 0px;
                h2 {
                    display: none;
                }
                .cta-form {
                    input {
                        background-color: rgba(242, 243, 244, 0.2);
                        border: unset;
                    }
                     ::placeholder {
                        color: rgba(187, 181, 224, 0.4)!important;
                    }
                }
            }
        }
    }
}

@include forsize(phone) {
    .header-banner-main {
        .header-img {
            max-width: 65%;
        }
        .banner-img1 {
            display: none;
        }
        .banner-img2 {
            display: none;
        }
    }
}

@include forsize(aphone) {
    .beliving_main {
        &__sub {
            .site-button {
                // font-size: $font-10;
                padding: 10px 50px;
            }
            p {
                br {
                    display: none;
                }
            }
        }
    }
    .portfolio_main {
        padding-top: 0px;
        padding-bottom: 40px;
        &__sub {
            text-align: center;
            flex-wrap: wrap;
            display: unset;
            padding: 0px;
            border: none;
            &-text {
                width: 100%;
            }
            h3 {
                font-size: $font-18;
                line-height: 35px;
                br {
                    display: none;
                }
            }
            .site-button {
                padding: 12px 35px;
                margin-top: 30px;
            }
        }
    }
    .clientsay_main {
        &-heading {
            h2 {
                font-size: 2.6rem!important;
                line-height: 42px!important;
                margin-bottom: 25px;
                br {
                    display: none;
                }
            }
        }
    }
    .preference_main {
        padding-top: 60px;
        padding-bottom: 40px;
        &__sub {
            flex-wrap: wrap;
            display: unset;
            padding: 0px;
            border: none;
            &-heading {
                width: 100%;
                margin-bottom: 20px;
                h3 {
                    font-size: $font-23;
                    line-height: 30px;
                    text-align: left;
                }
            }
            &-textimgmain {
                display: unset;
                width: 100%;
                &--sub {
                    margin-left: 0px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: left;
                    &---text {
                        p {
                            font-size: $font-13;
                            line-height: 23px;
                            margin-left: 12px;
                            margin-bottom: 5px;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
    .ourblog_main {
        &__heading {
            flex-wrap: wrap;
            justify-content: center;
            h2 {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
    .codeproduct_main {
        h2 {
            font-size: $font-28;
        }
        p {
            br {
                display: none;
            }
        }
    }
}

@include forsize(iphone) {
    .banner_main {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        &__textformmain {
            &-text {
                h2 {
                    font-size: $font-32;
                    line-height: 45px;
                }
                p {
                    margin-bottom: 20px;
                }
                .banner-btn {
                    margin-top: 30px;
                    display: unset;
                    .banner-works {
                        margin-top: 20px;
                        a {
                            .banner-radius {
                                width: 45px;
                                height: 45px;
                                margin-right: 15px;
                                margin-left: 0px;
                            }
                            font-size: $font-14;
                        }
                    }
                }
            }
        }
    }
    .freelancebusiness_main {
        &__sub {
            h5 {
                font-size: $font-18;
                margin-bottom: 20px;
            }
            &-img {
                img {
                    width: 90px;
                    margin-bottom: 20px;
                    margin-left: 15px;
                    // &:last-child {
                    //     margin-bottom: 0px;
                    // }
                }
            }
        }
    }
    .beliving_main {
        padding-top: 30px;
        padding-bottom: 50px;
        &__sub {
            .site-button {
                // font-size: $font-10;
                padding: 8px 10px;
                font-size: $font-13;
            }
            p {
                br {
                    display: none;
                }
            }
        }
    }
}